body{
    height: auto;
}

.profile_picture{
    display: flex;
    width: 260px; height: 260px;
    background-image: url(./images/sunny.jpg);
    background-size: 260px;
    border-radius:50%;
}
footer{
    background-color: #e44b1d;
}
/* style project page here  */
.backtohome> a>button{
    border-radius: 20px; 
    width: 140px; 
    height: 40px;
     background-color: #FF7449; 
     color: white; border: none;
}
.backtohome> a> button:hover{
    background-color: grey;
    border-width: 30px;
    border-color: white;
}
.carousel_btn{
    border-radius: 20px; 
    width: 140px; 
    height: 40px;
     background-color: blue; 
     color: white; border: none;
}
.carousel_btn:hover{
    background-color: grey;
}